body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  border-bottom: 3px solid #282828;
  padding: 0px 10px;
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
}

@media screen and (min-width: 768px) {
  ul {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }

  a {
    justify-content: center;
  }
}

@media (pointer:fine) {
  .tooltip {
    position: relative;
  }

  .tooltip .tooltip-label {
    display: none;
    position: absolute;
    left: 50%;
    top: calc(100% + 5px);
    transform: translateX(-50%);
    background-color: #282828;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    z-index: 1000;
  }

  .tooltip .tooltip-label::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #282828;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
  }

  .tooltip:hover .tooltip-label {
    display: block;
  }
}