:root {
  --color-primary: #590993;
  --color-background: #f0f0f0;
  --color-text: #272727;
  --color-contrast: #ffffff;
  --shadow-color: rgba(34, 34, 34, 0.109);
}

[data-theme='dark-mode'] {
  --color-primary: #ff93ed;
  --color-background: #272727;
  --color-text: #f0f0f0;
  --color-contrast: #272727;
  --shadow-color: rgba(135, 135, 135, 0.071);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

h2 {
  font-size: 1.2rem;
  margin: 0;
}

p, h3, h4 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

.container {
  margin: auto;
  max-width: 1200px;
  width: 95%;
}

header {
  background-color: var(--color-primary);
  color: var(--color-contrast);
}

.header-container {
  margin: auto;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 30px;
  max-width: 1200px;
}

.dark-mode-btn {
  background-color: transparent;
  border: none;
  color: var(--color-contrast);
  cursor: pointer;
  order: 3;
  margin-left: auto;
}

header h1 {
  order: 1;
  margin: 0;
  font-size: 1.3rem;
}

.menu-btn {
  font-size: 30px;
}

header nav {
  position: relative;
}

header a {
  color: var(--color-contrast);
  width: max-content;
  display: inline-block;
}

header nav ul {
  display: none;
}

header nav ul li {
  font-size: 18px;
}

header nav ul li:hover a {
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 0;
}

.main-layout {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.destaque {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.destaque video {
  width: 100%;
  border-radius: 5px;
}

.destaque--info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.destaque--info-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.destaque--metadata {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.destaque--actions button {
  background-color: var(--color-primary);
  color: var(--color-contrast);
  border: none;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.conteudo-secundario:not(.conteudo-secundario--mobile) {
  display: none;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ads {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ads img {
  border-radius: 5px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0px 6px 8px var(--shadow-color);
}

.ads div {
  position: relative;
}

.ads div::after {
  content: 'Anúncio';
  position: absolute;
  background-color: var(--color-primary);
  color: var(--color-contrast);
  padding: 5px 10px;
  border-radius: 5px;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.relacionados {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.relacionados ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.relacionados li {
  position: relative;
  max-width: 300px;
  color: white;
  cursor: pointer;
}

.relacionados li:hover::after {
  filter: drop-shadow(1px 1px 5px var(--color-primary));
}

.relacionados li::before {
  content: '';
  position: absolute;
  width: 100%;
  height: calc(100% - 4px);
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  border-radius: 5px;
}

.relacionados li::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 35px solid var(--color-primary);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.relacionados img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 5px;
}

.relacionados h4 {
  position: absolute;
  left: 10px;
  top: 10px;
}

.relacionados span {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.comentarios {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comentarios ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comentarios li {
  box-shadow: 0px 6px 8px var(--shadow-color);
  padding: 15px 20px;
}

.comentario--header {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 10px;
}

.comentario--date {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  header nav:hover ul {
    box-shadow: 5px 5px 5px 5px rgba(34, 0, 57, 0.53);
    padding: 15px 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    background-color: var(--color-primary);
    top: 95%;
    left: 0;
    z-index: 1000;
  }
}

@media screen and (min-width: 425px) {
  .relacionados ul {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}


@media screen and (min-width: 768px) {
  header {
    gap: 40px;
  }

  header nav ul {
    display: flex;
    gap: 20px;
  }

  header h1 {
    order: 0;
    font-size: 1.5rem;
  }

  .menu-btn {
    display: none;
  }

  .comentarios {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1024px) {
  main {
    flex-direction: row;
  }

  .conteudo-secundario--mobile {
    display: none;
  }

  .conteudo-secundario:not(.conteudo-secundario--mobile) {
    display: flex;
    gap: 30px;
  }

  .relacionados li img {
    width: 220px;
    height: 130px;
  }
}